<html>
{% include 'crumbs/head.html' %}
  <body>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 form-auth-box">
                <h2 class="form-signin-heading"><i style="color:#fff">SCRIMS</i></h2>
                <label for="inputEmail" class="sr-only">{{lang.0.auth.0.email}}</label>
                <input type="email" id="inputEmail" name="email" class="form-control dark_input" placeholder="{{lang.0.auth.0.email}}" required="" autofocus="">
                <label for="inputPassword" class="sr-only">{{lang.0.auth.0.pass}}</label>
                <input type="password" id="inputPassword" name="password" class="form-control dark_input" placeholder="{{lang.0.auth.0.pass}}" required="">
                <br>
                <button id="send" class="btn btn-outline-success form-control" type="submit">{{lang.0.auth.0.enter}}</button>
          </div>
        </div>
      </div>
      <script>

        function Request(email,pass){
          if (email != '' && pass != '' ){
            var xhr = new XMLHttpRequest();
            var body = 'email=' + encodeURIComponent(email) +'&password=' + encodeURIComponent(pass)+'&csrfmiddlewaretoken='+encodeURIComponent('{{csrf_token}}');
            xhr.open("POST", '/authorize/', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function() {
                if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
                    window.location.href = '/'
                }
                if (xhr.status == 404) {
                    new Noty({
                    timeout: 3700,
                    layout: 'bottomCenter',
                    type: 'error',
                    text:  '{{lang.0.auth.0.wrong}}'
                    }).show()
                  }
            };

            xhr.send(body);

          }else{
                new Noty({
                  timeout: 3700,
                  layout: 'bottomCenter',
                  type: 'info',
                  text:  '{{lang.0.auth.0.empty}}'
                }).show();
          }
        }

        function SendData(){
          var send = document.getElementById('send')
            send.onclick = function(){

              var email = document.getElementById('inputEmail').value
              var pass = document.getElementById('inputPassword').value
              Request(email,pass)

            }
        }

        window.onload = function(){
            SendData()
        }

      </script>
      <script src="/static/js/vendor/noty.js"></script>
  </body>
</html>
