<!doctype html>
<html class="no-js">
    {% include 'crumbs/head.html' %}
    <body>

      {% include 'crumbs/menu.html' %}

        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

    </body>
        {% include 'crumbs/footer.html' %}
</html>
