{% load thumbnail %}
<footer></footer>
<script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>




<!-- crypto-js -->
<script src="/static/js/vendor/crypto-js/crypto-js.min.js"></script>
<!-- crypto-js -->



<!-- AES crypto -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/aes.min.js"></script>
<!-- / AES crypto -->


<script src="/static/js/vendor/crypto-js/sha256.min.js"></script>


<!-- dropzone -->
<script src="/static/js/vendor/dropzone.js"></script>
<!-- /dropzone -->



<!-- babel-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<!-- /babel-->


<!-- MOMENT js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/ru.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/en-au.js"></script>
<!-- /MOMENT js-->



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>


<script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<script src="/static/js/vendor/noty.js"></script>
<script src="/static/js/vendor/classie.js"></script>
<script src="/static/js/vendor/gnmenu.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/js/vendor/socket.io.js"></script>


<!-- components -->
<script  src="/static/js/component/chat.js"></script>
<!-- /components -->


<script>
  new gnMenu( document.getElementById( 'gn-menu' ));
</script>







<!-- SCRIMS CHAT -->
<script type="text/babel">



const LANG = 0 //{{lang}}
const USER_ID = {{user.id}}
const KEY = "{{user.public_key_user}}"
const USERS = [{% for item in users  %}
                {
                "search":[{% for a in item.search %}"{{a}}",{% endfor %}],
                "id":"{{item.id}}","name":"{{item.name}}",
                "count_msg":"{{item.count_msg}}",
                "img":"{% thumbnail item.image "50x50" crop="center" as im %}{{ im.url }}{% endthumbnail %}",
                "public_key":"{{item.public_key_user}}",
                "last_msg":"{{item.last_msg.0.text}}",
                "last_msg_type":"{{item.last_msg.0.type_msg}}",
                "status":{% if item.status == True %}true{% else %}false{% endif %}
               },
               {% endfor %}]

//config
moment.locale("ru");
var socket = io.connect({secure: true});
var csrf_token = "{{csrf_token}}"
//config


function notifyMe() {
  // Проверка поддерживаемости браузером уведомлений
  if (!("Notification" in window)) {
    alert("This browser does not support desktop notification");
  }

  // Проверка разрешения на отправку уведомлений
  else if (Notification.permission === "granted") {
    // Если разрешено то создаем уведомлений
    //var notification = new Notification(data);
  }

  // В противном случает мы запрашиваем разрешение
  else if (Notification.permission !== 'denied') {
    Notification.requestPermission(function (permission) {
      // Если пользователь разрешил, то создаем уведомление
      if (permission === "granted") {
        var notification = new Notification("Hi there!");
      }
    });
  }

  // В конечном счете если пользователь отказался от получения
  // уведомлений, то стоит уважать его выбор и не беспокоить его
  // по этому поводу .
}

var noty = function(thebody,theicon,title){

  var options = {
     body: thebody,
     icon: theicon
 }

  new Notification(title,options)
}



$(document).ready(function(){

  notifyMe()

  CHAT(USER_ID,KEY,USERS,socket,csrf_token,noty)
})


</script>
