{% load thumbnail %}
<footer></footer>
<script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>






<!-- dropzone -->
<script src="/static/js/vendor/dropzone.js"></script>
<!-- /dropzone -->



<!-- babel-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<!-- /babel-->


<!-- MOMENT js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/ru.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/en-au.js"></script>
<!-- /MOMENT js-->



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
<script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/main.js"></script>



<script src="/static/js/vendor/noty.js"></script>
<script src="/static/js/vendor/classie.js"></script>
<script src="/static/js/vendor/gnmenu.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/js/vendor/socket.io.js"></script>

<script>
  new gnMenu( document.getElementById( 'gn-menu' ));
</script>


<!-- SCRIMS CHAT -->
<script type="text/babel">

const USER_ID = {{user.id}}
const USERS = [{% for item in users  %}{"id":"{{item.id}}","name":"{{item.name}}","img":"{% thumbnail item.image "50x50" crop="center" as im %}{{ im.url }}{% endthumbnail %}"},{% endfor %}]

//config
moment.locale("ru");
var socket = io.connect({secure: true});
var csrf_token = "{{csrf_token}}"

//config


function CHAT(){


  //this.prototype.events = ["drop", "dragstart", "dragend", "dragenter", "dragover", "dragleave", "addedfile", "addedfiles", "removedfile", "thumbnail", "error", "errormultiple", "processing", "processingmultiple", "uploadprogress", "totaluploadprogress", "sending", "sendingmultiple", "success", "successmultiple", "canceled", "canceledmultiple", "complete", "completemultiple", "reset", "maxfilesexceeded", "maxfilesreached", "queuecomplete"];

  Dropzone.autoDiscover = false;
  var myDropzone = new Dropzone("#dropzone-chat",);

  myDropzone.on("success", function(data) {
    setTimeout(function(){
      $('.previewsContainer').fadeOut(300)
    },3000)


    let images_type = ["jpg","JPG","gif","JPEG","png","PNG","tiff","GIF"]
    let jsn = JSON.parse(data.xhr.response)
    //console.log(jsn)



    if(images_type.indexOf(jsn.types)!= -1){

      var body = `<a href="${jsn.url}" target="blank"><img class="scrims_chat_message_file img_types" style="max-width:200px" src="${jsn.cache}"/></a>`

    }else if(jsn.types == 'pdf' || jsn.types == 'PDF' ){

      var body = `<div style="text-align:center"><a href="${jsn.url}" target="blank"><img class="scrims_chat_message_file img_types" style="width:80px" src="/static/img/file-pdf.png"/><br></a><span>${jsn.name}</span></div>`

    }else if(jsn.types == 'doc' || jsn.types == 'DOC' || jsn.types == 'DOC' || jsn.types == 'DOCX' ){

      var body = `<div style="text-align:center"><a href="${jsn.url}" target="blank"><img class="scrims_chat_message_file img_types" style="width:80px" src="/static/img/file-doc.png"/><br></a><span>${jsn.name}</span></div>`

    }else if(jsn.types == 'xls' || jsn.types == 'XLS' || jsn.types == 'csv' || jsn.types == 'CSV' ){

      var body = `<div style="text-align:center"><a href="${jsn.url}" target="blank"><img class="scrims_chat_message_file img_types" style="width:80px" src="/static/img/file-xls.png"/><br></a><span>${jsn.name}</span></div>`

    }else{
      var body = `<div style="text-align:center"><a href="${jsn.url}" target="blank"><img class="scrims_chat_message_file img_types" style="width:80px" src="/static/img/file.png"/><br></a><span>${jsn.name}</span></div>`

    }
      SEND_MESSAGE(USER_ID, parseInt($('#scrims_chat_init').attr('data-init')), "file", body)

    setTimeout(function(){
      $('.previewsContainer').empty()

    },4000)

  });



  myDropzone.on("addedfile", function(data) {
    $('.previewsContainer').fadeIn(10)
  });





  function SELECT_COMPANION(id){

      let user = USERS.filter(data => data.id==id)

      $('#scrims_chat_canvas').attr("data-init",id)
      $('#scrims_chat_heading').empty()
      $('#scrims_chat_heading').html(`<div id="scrims_chat_init" class="col-sm-2 col-md-1 col-xs-3 heading-avatar" data-init="${user[0].id}">
            <div class="heading-avatar-icon">
              <img src="${user[0].img}">
            </div>
            </div>
          <div class="col-sm-8 col-xs-7 heading-name">
            <a href="/personal/user/2/${user[0].id}" class="heading-name-meta">${user[0].name}
           </a>
            <span class="heading-online">Online</span>
          </div>

          `)

          GET_HISTORY(id)

          $('#scrims_chat_textarea').focus()

  }


  function PREVIOUS_MESSAGE(id){

    var limit = ($('.scrims_chat_msg_main').length)+($('.scrims_chat_msg_recive').length)

    MAIN_AJAX_GET('/api/get-history-about/?companion='+id+'&limit='+limit).then(function(result){

      $('.message-previous').remove()

      PARSER_MSG_HISTORY(id,result)

    })

  }



  function GET_HISTORY(id){
              MAIN_AJAX_GET('/api/get-history/?companion='+id).then(function(result){

                  $('#scrims_chat_canvas').empty()
                  PARSER_MSG_HISTORY(id,result)
                  $('#scrims_chat_textarea').val('')
                  setTimeout(function(){
                          $('#scrims_chat_canvas').scrollTop($('#scrims_chat_canvas').prop('scrollHeight'))
                  },10)


              })
  }









  function PARSER_MSG_HISTORY(id,result){


    $.each(result.reverse(),function(k,v){

        if(v.message=='recive'){
          var cls_mess = 'receiver'
        }else {
          var cls_mess = 'sender'
        }

        let date = moment(v.date).calendar()

        $('#scrims_chat_canvas').prepend(`<div class="row message-body scrims_chat_msg_${v.message}"  data-init="${v.id}" style="display:none">
            <div class="col-sm-12 message-main-${cls_mess}">
              <div class="${cls_mess}">
                <div class="message-text">
                  ${v.body}
                </div>
                <span class="message-time pull-right">
                  ${moment(v.date).calendar()}
                </span>
              </div>
            </div>
          </div>`)
    })

    $('.message-body').fadeIn('slow')

    if(result.length>=10){

    $('#scrims_chat_canvas').prepend(`<div class="row message-previous"  data-init="${id}">
            <div class="col-sm-12 previous">
              <b>
              Show Previous Message!
              <b>
            </div>
          </div>`)
      }

      $('.message-previous').click(a => PREVIOUS_MESSAGE(id))
  }



  function MAIN_AJAX_GET(url){
    let data = fetch(url,{
        credentials: "same-origin"
      }).then(res => res.json())
        .catch(function(error) {
        console.log(error);
      })
      return(data)
  }


  function SEND_AJAX_MESSAGE(msg_object){

    if(isNaN(msg_object.companion) == true){return false}//if not found recipient

    let data = $.ajax({
      url:'/api/send-message/',
      type:'POST',
      data:msg_object,
      success:function(data){
          msg_object.id_msg = data
          socket.emit('chat message',msg_object);
      },statusCode:{
        403:error => window.location.reload(),
        400:function(){
          return false
        }
      }
    })

    return data
    console.log(data,'111')
  }








function SEND_MESSAGE(id_user,id_companion,type,message){

  let msg = message.replace(/\n/g, "").replace(/\s/g, "")//strip \n
  if(msg === ''){return false}
  message = message.replace(/\n/g, "<br>")
  //smiles
  //message = message.replace(/=)/g, "<br>")

  let date = moment().format('YYYY-MM-DD HH:mm:ss')
  let msg_object = {"user":id_user,"companion":id_companion,"type":type,"body":message,"date":date,"csrfmiddlewaretoken":csrf_token}

  console.log(msg_object)

  if (SEND_AJAX_MESSAGE(msg_object)==false){return false}
  SCROLL_TO_BOTTOM()
  $('#scrims_chat_textarea').val('')

}


//smooth scroll to bottom when action(recive send) message
function SCROLL_TO_BOTTOM(){
  $('#scrims_chat_canvas').animate({scrollTop:$('#scrims_chat_canvas').prop('scrollHeight')},"slow")
}


function STATUS_CONECTED(data){
    var token = data.token.replace(' ','')
    console.log(data.id_user,data.status)

      if(data.status == 'on'){
        $('.scrims_chat_companion').each(function(){
          var id = $(this).attr('data-init')
          if(id == data.id_user){
            $(this).find('.scrims_chat_status').removeClass('scrims_chat_status_offline').addClass('scrims_chat_status_online')
          }
        })
      }
      if(data.status == 'off'){
        $('.scrims_chat_companion').each(function(){
          var id = $(this).attr('data-init')
          if(id == data.id_user){
            $(this).find('.scrims_chat_status').removeClass('scrims_chat_status_online').addClass('scrims_chat_status_offline')
          }
        })
      }

}


function PARSER_RECIVE_AND_SENDER_MESSAGE(data){

  // Парсим сообщение которое пришло нам т.е. reciver
  if(data.companion === USER_ID && parseInt($('#scrims_chat_canvas').attr('data-init')) === data.user){

    $('#scrims_chat_canvas').append(`<div class="row message-body scrims_chat_msg_receiver" data-init="${data.id_msg}">
              <div class="col-sm-12 message-main-receiver">
                <div class="receiver">
                  <div class="message-text">
                    ${data.body}
                  </div>
                  <span class="message-time pull-right">
                    ${moment().calendar()}
                  </span>
                </div>
              </div>
            </div>`)
          $('.heading-typing').css({'display':''})
          SCROLL_TO_BOTTOM()


  }  // Парсим сообщение которое мы отправили
  else if(data.user === USER_ID && parseInt($('#scrims_chat_canvas').attr('data-init')) === data.companion){

        $('#scrims_chat_canvas').append(`<div class="row message-body scrims_chat_msg_main" data-init="${data.id_msg}">
            <div class="col-sm-12 message-main-sender">
              <div class="sender">
                <div class="message-text">
                  ${data.body}
                </div>
                <span class="message-time pull-right">
                  ${moment().calendar()}
                </span>
              </div>
            </div>
          </div>`)

          SCROLL_TO_BOTTOM()

   }


   MESSAGE_NO_SEE(data)

}



// if user not see recive message while no open contact or close chat
function MESSAGE_NO_SEE(data){
  if (data.companion === USER_ID && parseInt($('#scrims_chat_canvas').attr('data-init')) != data.user) {
        $('.scrims_chat_companion').each(function() {
          if($(this).attr('data-init') == data.user){
            $(this).find(".pull-right").html('<b class="badge scrims_chat_count_message">1</b>')
          }
        })
    }



}

socket.on('chat message',data=>PARSER_RECIVE_AND_SENDER_MESSAGE(data))
socket.on('chat status',data=>STATUS_CONECTED(data))





//actions
  //click on "send icon" send message




  $('#scrims_chat_send').on('click',function(){
      SEND_MESSAGE(USER_ID,parseInt($('#scrims_chat_init').attr('data-init')),'text',$('#scrims_chat_textarea').val())
  })

 //ctr+enter send message
  $('#scrims_chat_textarea').bind('keypress', function(event) {
      if((event.keyCode == 10 || event.keyCode == 13) && event.ctrlKey) {
        SEND_MESSAGE( USER_ID, parseInt($('#scrims_chat_init').attr('data-init')), 'text',$('#scrims_chat_textarea').val() )
      }
  });



  $('.scrims_chat_companion').off('click')
  $('.scrims_chat_companion').on('click',function(){
    $('.scrims_chat_companion').removeClass('cleanstate_chat_companion')
    $(this).addClass('cleanstate_chat_companion');
    SELECT_COMPANION($(this).attr('data-init'))
  })
//end actions


/* позволяет делать тайминги при вызове ф-ций */
function debounce(func, wait, immediate) {
	var timeout;
	return function() {
		var context = this, args = arguments;
		var later = function() {
			timeout = null;
			if (!immediate) func.apply(context, args);
		};
		var callNow = immediate && !timeout;
		clearTimeout(timeout);
		timeout = setTimeout(later, wait);
		if (callNow) func.apply(context, args);
	};
};


  function TYPYNG_MSG(){
    socket.emit('user typing',{"user":USER_ID,"companion":parseInt($('#scrims_chat_init').attr('data-init'))})
  }

  function TYPYNG_USR(data){


    if(data.companion === USER_ID && parseInt($('#scrims_chat_canvas').attr('data-init')) === data.user){

      $('.heading-typing').css({'display':'block'})
      clearTimeout(timerId);
      var timerId = setTimeout(function(){
            $('.heading-typing').css({'display':''})
        },8000)
      }


  }

  socket.on('user typing',data=>TYPYNG_USR(data))


  $('#scrims_chat_textarea').on('input change', debounce(TYPYNG_MSG, 220));



}//end chat



$(document).ready(function(){


  function getCookie(name) {
    var matches = document.cookie.match(new RegExp(
      "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
    ));
    return matches ? decodeURIComponent(matches[1]) : undefined;
  }


  CHAT()

  $(window).on("blur focus", function(e) {
    console.log('lala')
    socket.emit('chat status',{"token":getCookie("SCRIMS_TOKEN"),"status":"on"})
  })


  $('.fa-upload').click(function(){
    $('.dz-hidden-input').click()
  })



})


</script>
