{% load thumbnail %}
<div class="container">
  <ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
      <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
      <nav class="gn-menu-wrapper">
        <div class="gn-scroller">
          <ul class="gn-menu">
            <li class="gn-search-item">
              <input placeholder="Search" type="search" class="gn-search">
              <a class="gn-icon gn-icon-search"><span>Search</span></a>
            </li>
            <li>
              <a class="gn-icon gn-icon-download">Downloads</a>
              <ul class="gn-submenu">
                <li><a class="gn-icon gn-icon-illustrator">Vector Illustrations</a></li>
                <li><a class="gn-icon gn-icon-photoshop">Photoshop files</a></li>
              </ul>
            </li>
            <li><a class="gn-icon gn-icon-cog">Settings</a></li>
            <li><a class="gn-icon gn-icon-help">Help</a></li>
            <li>
              <a class="gn-icon gn-icon-archive">Archives</a>
              <ul class="gn-submenu">
                <li><a class="gn-icon gn-icon-article">Articles</a></li>
                <li><a class="gn-icon gn-icon-pictures">Images</a></li>
                <li><a class="gn-icon gn-icon-videos">Videos</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /gn-scroller -->
      </nav>
    </li>
    <li><b>SCRIMS</b></li>

    <li>
        <div class="btn-group">
           <div class="dropdown-toggle dropdown-box" data-toggle="dropdown">
                {% thumbnail user.image "50x50" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}

                {{user.name}}
               <span class="caret"></span>
             </div>
           <ul class="dropdown-menu">
             <li><a href="/personal/user/{{user.id}}/">{{lang.0.menu.0.profile}}</a></li>
           </ul>
         </div>
    </li>
  </ul>
</div>
