{% load thumbnail %}
<div class="container">
  <ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
      <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
      <nav class="gn-menu-wrapper">
        <div class="gn-scroller">
          <ul class="gn-menu">
            <li>
              <a class="gn-icon fa fa-newspaper-o fa-2x"><span>{{lang.0.menu.0.tape}}</span></a>
            </li>
            <li>
              <a class="gn-icon fa fa-tasks fa-2x"><span>{{lang.0.menu.0.tasks}}</span></a>
            </li>
            <li>
              <a class="gn-icon fa fa-comments-o fa-2x chat-close-open"><span>{{lang.0.menu.0.chat}}</span></a>
            </li>
            <li>
              <a class="gn-icon fa fa-hdd-o fa-2x"><span>{{lang.0.menu.0.disk}}</span></a>
            </li>
            <li>
              <a class="gn-icon fa 	fa fa-building-o fa-2x"><span>{{lang.0.menu.0.company}}</span></a>
            </li>

            <!--<li><a class="gn-icon gn-icon-cog">Settings</a></li>
            <li><a class="gn-icon gn-icon-help">Help</a></li>
            <li>
              <a class="gn-icon gn-icon-archive">Archives</a>
              <ul class="gn-submenu">
                <li><a class="gn-icon gn-icon-article">Articles</a></li>
                <li><a class="gn-icon gn-icon-pictures">Images</a></li>
                <li><a class="gn-icon gn-icon-videos">Videos</a></li>
              </ul>
            </li>-->

          </ul>
        </div><!-- /gn-scroller -->
      </nav>
    </li>
    <li><b>SCRIMS</b></li>

    <li>

   <div class="dropdown-box" >
      <a href="/personal/user/{{user.init}}/">{% thumbnail user.image "50x50" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        <span class="name-user">{{user.name}}</span>
      {% endthumbnail %}</a>
   </div>

        <!--<div class="btn-group">
           <div class="dropdown-toggle dropdown-box" data-toggle="dropdown">
                {% thumbnail user.image "50x50" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}

                {{user.name}}
               <span class="caret"></span>
             </div>
             {{LANG}}
           <ul class="dropdown-menu">
             <li><a href="/personal/user/{{user.id}}/">{{lang.0.menu.0.profile}}</a></li>
           </ul>
         </div>-->
    </li>
  </ul>
</div>
