

<div class="col-sm-1 col-xs-1"></div>
<div class="col-sm-8 col-xs-10" style="margin:75px 0px">

    {% for item in posts %}
      <div class="side-one">
        <div class="row" style="background:#fff;padding:10px;">

          <div class="col-sm-1 col-xs-1 heading-avatar">
            <div class="heading-avatar-icon">
                <img src="/media/cache/1c/b9/1cb969d2b589af0d1bb5b71be2b451eb.jpg" width="70" height="70">
            </div>
          </div>

          <div class="col-sm-11 col-xs-11 ">
            <div style="font-size:16px;color:#5f6f81;font-weight:bold;padding: 10px 0;">{{item.creator.name}}</div>
            <div class="heading-avatar-icon">
                {{item.text}}
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 " style="color:#5f6f81">
          <div class="col-sm-1 col-xs-1 "></div>
           <div class="col-sm-2 col-xs-2 ">
             <div>
              <span>{{item.likes}} </span><span class="fa fa-thumbs-up fa-2x"></span>
             </div>
           </div>

           <div class="col-sm-2 col-xs-2">
             <div>
               <span>{{item.views}} </span><span class=" fa fa-eye fa-2x"></span>
             </div>
           </div>
           <div class="col-sm-2 col-xs-2 ">
             <span class=" fa fa-clock-o fa-2x"></span> {{item.date}}
          </div>
          </div>
       </div>


       <!-- coments -->
       <div class="row" style="background:#fff;padding:10px;">
         <div class="col-sm-1 col-xs-1"></div>
         <div class="col-sm-9 col-xs-9">
         <div class="col-sm-1 col-xs-1 ">
           <div class="heading-avatar-icon">
               <img src="/media/cache/1c/b9/1cb969d2b589af0d1bb5b71be2b451eb.jpg" width="30" height="30">
           </div>
         </div>

         <div class="col-sm-11 col-xs-11 ">
           <div style="font-size:14px;color:#5f6f81;font-weight:bold;padding: 10px 0;">Иван Иванов Иванович</div>
           <div class="heading-avatar-icon">
               <p style="line-height:1.5;font-size:13px;">Он будет влиять на вес источника равносильно цитируемости и оперативности. Вовлечённость ,</p>
           </div>
         </div>
        </div>
      </div>
     <!-- /coments -->
     {% endfor %}
</div>
</div>
