{% load thumbnail %}

<style>

  .stream_block{
    background:#fff;
    padding:10px;
  }

</style>

<div class="col-sm-1 col-xs-1"></div>
<div class="col-sm-8 col-xs-10" style="margin:75px 0px">

<div class="col-sm-11 col-xs-11 side-one stream_block">
  <div  rows="1" placeholder="НАПИСАТЬ СООБЩЕНИЕ">
    <span>НАПИСАТЬ СООБЩЕНИЕ...</span>
  </div>
  <br>
  <br>

  <div class="col-sm-12 col-xs-12 reply-main dropzone">
  <textarea id="send_post" class="form-control upload-dropzone ckeditor-init" rows="1" placeholder="НАПИСАТЬ СООБЩЕНИЕ"></textarea>
  <br>
  <button class="btn btn-primary">Отправить</button>
  </div>
</div>



    {% for item in posts %}
      <div class="side-one">
        <div class="row stream_block">

          <div class="col-sm-1 col-xs-1 heading-avatar">
            <div class="heading-avatar-icon">
              {% thumbnail item.creator.image "70x70" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% endthumbnail %}

            </div>
          </div>

          <div class="col-sm-11 col-xs-11 ">
            <div style="font-size:16px;color:#5f6f81;font-weight:bold;padding: 10px 0;"><a href="/personal/user/{{item.creator.init}}/">{{item.creator.name}}</a></div>
            <div class="heading-avatar-icon">
                {{item.text}}
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 " style="color:#5f6f81">
          <div class="col-sm-1 col-xs-1 "></div>
           <div class="col-sm-1 col-xs-1 ">
             <div>
              <span>{{item.likes}} </span><span class="fa fa-thumbs-up fa-1x"></span>
             </div>
           </div>

           <div class="col-sm-1 col-xs-1">
             <div>
               <span>{{item.views}} </span><span class=" fa fa-eye fa-1x"></span>
             </div>
           </div>
           <div class="col-sm-4 col-xs-4 ">
             <span class=" fa fa-clock-o fa-1x"></span> {{item.date}}
          </div>
          </div>
       </div>

       {% if item.comments %}
              {% for comment in item.comments %}
                 <!-- coments -->
                 <div class="row" style="background:#fff;padding:10px;">
                   <div class="col-sm-1 col-xs-1"></div>
                   <div class="col-sm-9 col-xs-9">
                   <div class="col-sm-1 col-xs-1 ">
                     <div class="heading-avatar-icon">
                       {% thumbnail comment.creator.image "30x30" crop="center" as im %}
                           <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                       {% endthumbnail %}
                     </div>
                   </div>

                   <div class="col-sm-11 col-xs-11 ">
                     <div style="font-size:14px;color:#5f6f81;font-weight:bold;padding: 10px 5px;"><a href="/personal/user/{{comment.creator.init}}/">{{comment.creator.name}}</a></div>
                     <div class="heading-avatar-icon">
                         {{comment.text}}
                     </div>
                   </div>
                  </div>
                </div>
               <!-- /coments -->
              {% endfor %}
          {% endif %}
     {% endfor %}
</div>
</div>
