
<footer></footer>
<script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/vendor/noty.js"></script>
<script src="/static/js/vendor/classie.js"></script>
<script src="/static/js/vendor/gnmenu.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/js/vendor/socket.io.js"></script>

<script>

var socket = io.connect('http://127.0.0.1:3000');


window.onclick = function(){
    socket.emit('chat message', '{"user":"13","type":"text","body":"lalal"}');
    socket.on('chat message', function (data) {
      console.log(JSON.parse(data));
    });

}

  new gnMenu( document.getElementById( 'gn-menu' ));
</script>
